body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #c6c6c6;
}

h3 {
    font: 15px sans-serif;
    text-transform: uppercase;
    color: darkslategrey;
    text-align: center;
    font-weight: 500;
}

.MainHeaderImage {
    margin-top: 1%;
    margin-left: 5%;
    box-shadow: 10px 5px 15px 3px #888888;
    width: 250px;
}

.box {
    width: 380px;
    padding: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1e4b65;
    text-align: center;
}

.name, .department, .ocuppation {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #c6c6c6;
    padding: 14px 10px;
    width: 200px;
    border-radius: 24px;
    outline: none;
    color: whitesmoke;
    transition: 0.25s;
}

.name:hover, .department:hover, .ocuppation:hover, .name:focus, .department:focus, .ocuppation:focus {
    width: 280px;
    border: 2px solid #0074D9;
}

.submitData {
    border: 0;
    background: #0074D9;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    border-radius: 24px;
    outline: none;
    color: white;
    transition: 0.25s;
}

.submitData:hover {
    background: #3ae826;
}

/*-------------Questionario-----------------*/

.QuestionTitle {
    font: 15px sans-serif;
    color: #373A36;
    margin-left: 0%;
    background-color: #fff;
    text-align: center;
    width: 500px;
    border-radius: 24px;
}

.QuestionDescription {
    padding: 12px 20px;
    font: 11px sans-serif;
    margin: 2% 0% 0% 0%;
    border-radius: 24px;
    background: #1e4b65;
    color: whitesmoke;
    width: 95%;
}

.expectForm, .realForm {
    font: 10px sans-serif;
    text-align: center;
    border-radius: 24px;
    height: 34px;
    width: 60px;
    border: 1px solid #e2e2e2;
    transition: 0.25s;
}

.expectForm:focus, .realForm:focus {
    width: 90px;
    border: 2px solid #0074D9;
}

.realForm {
    margin-left: 5px;
}

.TextBox {
    margin: -36px 0px 0px 85%;
}

.ImageExemple {
    margin: 0% 0px 0px 0%;
    height: 100px;
    transition: 0.55s;
}

.ImageExemple:hover {
    margin: 0% 0px 0px 0%;
    height: 500px;
}

.FinalMessage {
    padding: 1em;
    font: 30px Helvetica, sans-serif;
    margin: 10% 0px 0px 0%;
    border-radius: 5px;
    background-color: #B4B4B4;
    color: #373A36;
    text-align: center;
}
