
@{
    ViewBag.Title = "Finish";
}
<script>window.setTimeout(function(){
window.location.href='https://mandelli.com.br/';
}, 4000);</script>
<h2 style="margin:10% 0% 0% 10%">Muito obrigado por ter respondido esta pesquisa!! Tenha um ótimo dia!! </h2>
<h3 style="text-align: center">Para conhecer mais sobre nós, você será redirecionado para <a href="https://mandelli.com.br/" target="_blank">www.mandelli.com.br</a></h3>

