@model SearchForm.Models.ViewModels.GlobalViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    <h3>Olá, seja bem-vindo!! preencha seus dados abaixo antes de iniciar a pesquisa</h3>
    <fieldset class="box">
        <div>
            @using (Html.BeginForm("CaracteristicasDominantesView", "Pages", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.Pessoa.Nome, new { @class = "name", @required = "required", placeholder = "Nome Completo", autocomplete = "off" })
                @Html.TextBoxFor(m => m.Pessoa.Departamento, new { @class = "department", @required = "required", placeholder = "Departamento / Àrea", autocomplete = "off" })
                @Html.TextBoxFor(m => m.Pessoa.Cargo, new { @class = "ocuppation", @required = "required", placeholder = "Cargo", autocomplete = "off" })
                <br />
                <input class="submitData" type="submit" value="Próximo" />
            }
        </div>
    </fieldset>
</div>  