body {
    background-color: #e2e2e2;
}

.MainHeaderImage {
    margin-left: 5%;
    box-shadow: 5px 5px 5px #808080;
    border-radius: 2px;
    width: 250px;
}

.MainHeaderTitle {
    background-color: #fff;
    border-radius: 5px;
    font: 19px Helvetica;
    text-align: center center;
    margin-top: 50px;
    color: #808080;
    width: 98%;
}

.MainFieldset {
    margin: 0% 0px 0px 0%;
    height: 400px;
    background-color: #B4B4B4;
    width: 440px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #808080;
}

.IndexInformations {
    font: bold 12px Helvetica, sans-serif;
    color: #484848;
    margin: 50px 0px 0px 20px;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    border: 1px solid #808080;
    box-shadow: 5px 5px 5px #808080;
}

.submitMain {
    font: bold 12px Helvetica, sans-serif;
    margin: 10% 0px 0px 70%;
    text-align: center center;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    color: #fff;
    border: transparent;
    background-color: rgba(30,75,101, 0.75);
    box-shadow: 5px 5px 5px #808080;
}

.submitMain:hover {
    background-color: #999999;
    border: 1px solid #fff;
    color: #fff;
}

/*-------------Questionario-----------------*/

.QuestionTitle {
    font: bold 18px Helvetica, sans-serif;
    color: #373A36;
    margin-left: 0%;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.QuestionSubmit {
    border-radius: 4px;
    height: 40px;
    margin: 20px 0 0 90%;
    width: 100px;
    color: #fff;
    border: transparent;
    background-color: rgba(30,75,101, 0.75);
    box-shadow: 5px 5px 5px #808080;
}

.QuestionSubmit:hover {
    background-color: rgba(30,75,101, 0.95);
    color: #fff;
}

.pageOneHeader {
    font: 16px Helvetica, sans-serif;
    text-align: center center;
    margin-top: 50px;
    width: auto;
    color: #808080;
}

.QuestionDescription {
    padding: 1em;
    font: 12px Helvetica, sans-serif;
    margin: 2% 0px 0px 0%;
    border-radius: 5px;
    background-color: #B4B4B4;
    color: #373A36;
    width: 95%;
    height: 40px;
    box-shadow: 5px 5px 5px #808080;
}

.expectForm {
    font: 10px Helvetica, sans-serif;
    text-align: center;
    border-radius: 3px;
    height: 30px;
    width: 70px;
    border: 1px solid #e2e2e2;
    box-shadow: 5px 5px 5px #808080;
}

.realForm {
    font: 10px Helvetica, sans-serif;
    text-align: center;
    margin-left: 5px;
    border-radius: 3px;
    height: 30px;
    width: 70px;
    border: 1px solid #e2e2e2;
    box-shadow: 5px 5px 5px #808080;
}

.ColumnOne {
    background-color: #B4B4B4;
    margin: 5% 0px 0px 5%;
    font: 14px Helvetica, sans-serif;
    width: 340px;
    border-radius: 4px;
}

.ColumnTwo {
    margin: -49% 0px 0px 35%;
    font: 14px Helvetica, sans-serif;
    width: 340px;
}

.ColumnThree {
    margin: -50% 0px 0px 65%;
    font: 14px Helvetica, sans-serif;
    width: 340px;
    border-radius: 4px;
    background-color: #B4B4B4;
}

.TextBox {
    margin: -36px 0px 0px 85%;
}

.ImageExemple {
    margin: 0% 0px 0px 0%;
    height: 100px;
}
.ImageExemple:hover {
    margin: 0% 0px 0px 0%;
    height: 500px;
}

.FinalMessage {
    padding: 1em;
    font: 30px Helvetica, sans-serif;
    margin: 10% 0px 0px 0%;
    border-radius: 5px;
    background-color: #B4B4B4;
    color: #373A36;
    text-align: center;
}
