@model SearchForm.Models.ViewModels.GlobalViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    <h3 class="MainHeader">Olá, seja bem-vindo! Por gentileza, informe seus dados abaixo e em seguinda responda o questionário. Será um prazer ouvir você.</h3><br />
    <fieldset class="MainFieldset">
        <div>
            @using (Html.BeginForm("CaracteristicasDominantesView", "Home", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.Pessoa.Nome, new { @class = "nameForm", @required = "required", placeholder = "Nome Completo", autocomplete="off" })
                @Html.TextBoxFor(m => m.Pessoa.Departamento, new{ @class = "departmentForm", @required = "required", placeholder = "Departamento / Àrea", autocomplete="off" })
                @Html.TextBoxFor(m => m.Pessoa.Cargo, new { @class = "functionForm", @required = "required", placeholder = "Cargo", autocomplete="off" })
                <br />
                <input class="submitMain" type="submit" value="Próximo" />
            }
        </div>
    </fieldset>
</div>  